body {
    padding: 0;
    margin: 0;
}

#map {
    height: 75%;
    width: 75%;
    float: right;
    padding-right: 100px;
}

#header {
  background-color: #336699;
  padding-top: 15px;
  padding-bottom: 15px;
}

#sidebar {
  background-color: #b3b3cc;
  float: left;
  width: 150px;
  height: 100%;
}
